# Python environment
.venv/

# Python installation artifacts
**.egg-info/
**/__pycache__/

# Keras graphing artifacts
__autograph_generated_file*.py

# Singularity
*.sif
lfvddp_sandbox/**

# IDE
.vscode/
**.code-workspace

# Configuration files
configs/**/*.json
configs/**/*.yaml
configs/**/*.yml
!configs/cluster/basic_cluster_config.json
!configs/dataset/basic_dataset_config.json
!configs/detector/basic_detector_config.json
!configs/plot/basic_plot_config.json
!configs/train/basic_train_config.json
!configs/user/basic_user_config.json

# Mid process files and results
## Untracked directories
results/
temp/
data/

## Untracked file types
**.h5
**.log
